/*============    Мои  переменные   ===========*/
//@text-color: #728192;
@import "less/variables.less";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab:400,700&subset=latin,cyrillic);
.RSnormal {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	color: @text-color;
} 
.RSbold {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color:@text-color;
}

.RCnormal {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	color:@text-color;

}
.RCbold {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: @text-color;
}
h1, h2, h3, h4, h5 {
	.RSbold;
	margin-bottom: 30px;
	margin-left: 5px;
}
h1, h2 {
	text-transform: uppercase;
}
h2{
	font-size: 44px;
}
a, p  {
	.RCnormal;
}
p {
	margin-left: 5px;
}
a{
	color: @text-color;;
	text-decoration: none;
	outline: none;
	border-bottom: 1px dotted lighten(@text-color, 20%);

	&:visited {
		color: @text-color;;
		text-decoration: none;
		outline: none;
		//border-bottom: 1px dotted @text-color;
	}
	&:active {
		//color: @text-color;;
		text-decoration: none;
		outline: none;
		//border-bottom: 1px dotted @text-color;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
	&:hover {
		color: lighten(@link-color, 20%); // Делаем светлее
		text-decoration: none;
		outline: none;
		border-bottom: 1px dotted lighten(@link-color, 20%);
	}
}

/*============    Шапка   ===========*/
@header_link_color: #768daa;// #728192;  // #dc911b  Color of the links
@main_color: #d05100; //  The dominant Color of the Color wheel
//@add_color1: spin(@link_color, 135); //  The first additional Color of the Color wheel 
//@add_color2: spin(@link_color, -135); // The second additional Color of the Color wheel 
@distanceUP: 10; // #dc911b  Color of the links
@distanceDown: 15; // #dc911b  Color of the links
@bigheadertext: #99b221; //Color of the offer in header and maybe others headers
body {
	
	background-image: svg-gradient(to bottom, #56AAFE, #F5FAFE 4%, #ffffff 6%);
	background-repeat: repeat-x;
	background-color: white;
	min-width: 370px;	
}
header {
	background: url(../img/bannersm.svg) center 60px  no-repeat;
	height: 680px;
}

 .header_Menu { //Плавающий значек меню
	display: block;
	position: fixed;
	top: 0;
	right: 5px;
	text-align: right;
	height: 50px;
	padding: 0;
	margin: 0;
	z-index: 999;
	a {
		border: none;

	}
}
.logoPlace {
	//width: 255px; // чтобы текст логотипа перенесся сам
	//margin-left: 0; //-30px
	margin-top: 50px;
	//float: left;

	a {
		.RSbold;
		display: block;
		width: 255px; // чтобы текст логотипа перенесся сам
		float: left;
		color: @header_link_color; //#5692c7 //#768daa
		font-size: 39px;
		text-transform: uppercase;
		text-decoration: none;
		outline: none;
		border: none;
		line-height: 45px;
		&:before {
			content: '';
			width: 67px;
			height: 116px;
			background: url(../img/logo.svg) no-repeat center center;
			display: block;
			float: left;
			margin-right: 10px;
			margin-top: -15px;
		}	
		&:hover {
			text-decoration: none;
			color: spin(@header_link_color, @distanceUP); // saturate(@link_color,-30%);
		}		
		&:focus {
			text-decoration: none;
		}
	}
}
.airship {
	margin: 0;
	padding: 0;
	margin-top: 50px;
}
.heder_phone_number{ //здесь будет размещен номер телефона
	//height: 80px;
	//width: 260px;
	//float: right;
	margin-top: 55px;
	text-align: right;
	h3, p {
	//.RCnormal;
		color:  #ffe3a5;// #ffdc8e;
		margin: 0;
		padding: 0;
	}
	p{
		color: white; //  #ffdc8e
	}
}
.offer { // Текст главного предложения
	h1 {
		.RSbold;
		font-size: 39px;
		text-transform: uppercase;
		color: @bigheadertext;
		text-align: center;
		padding: 0;
		//padding-top: 220px; 
		margin: 0 auto;
		margin-top: 196px;
		letter-spacing: -1px;
		line-height: 1.3;
		//text-shadow: white 1px 0 0px, white 0 1px 0px, white -1px 0 0px, white 0 -1px 0px;
		}	text-shadow: white 0px 0 15px;
		small {
			.RSbold;
			font-size: 39px;
			text-transform: lowercase; 
			color: @bigheadertext;
			letter-spacing: -2px;
			white-space: -3px;
		}
		span {
			text-transform: none; 
			color: #b53a00;
		} 
	}
.button_order { //class of button container
	margin-top: 50px; //distance betveen button and h1
	margin-bottom: 40px;
}
.main_button {
	margin-top: 30px; //distance betveen button and h1
	margin-bottom: 20px;
}

.order_btn{ // Button class for button
	.RCbold;
	font-size: 36px;
	margin: 0;
	border: none;
	outline-style: none;
	padding: 0 65px;
	background-color: #cc436a; /* фон кнопки */
	text-transform: uppercase;
	color: white;
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	outline: none; /* убирать контур в Mozilla */
  	border-radius: 20px; // скругление углов
  	&:hover { /* при наведении курсора мышки */
  		background: #ef5000; 
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none; 	 	
  	} 
  	&:active {  /* при нажатии */
  		background: #cc436a;
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none;	  	
  	}
  	&:visited {  /* посещенная кнопка */
  		background: #cc436a;
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none;
  	}
  	&:focus {
  		outline: none; //убираем рамку вокруг элемента кнопки после нажатия
  		// background: #cc436a;
  		color: white;  		
  	}

  } 

  .description {
	margin-top: 0px; //distance betveen booton and h5
	h5 {
		.RCnormal;
		font-size: 16px;
		color: @text-color;
		span {
			text-transform: uppercase;
			color: @text-color;
		}
	}
}
/*============    Почему у нас?  ===========*/
#why_we { // Section Why We?
}
.points_why_we {
	list-style: none;
	padding: 0;
	display: block;

	li {
		min-height: 139px;
		display: list-item;
		padding-left: 130px;
		position:relative;
	}

}
/*============    Иконки спрайты  icons 120    =========== 
class="icon120 icon120-call-icon" */
.stitches-icon120(@x: 0, @y: 0, @width: 0, @height: 0) {
   &:before {
    background-position: @x @y;
    width: @width;
    height: @height;
    }
}

.icon120 {
    // background-image: url(../img/icons/spritesheet_120.png);    
    // background-repeat: no-repeat;
    // display: block;
	&:before{
		content: "";
		position:absolute;
		display: block;
		// Блок для выравнивания по центру, но он не  работает, если высота абзаца меньше иконки
		/* margin: auto;  для выравнивания по центру  - убрать для выравнивания по верху*/
		/* top: 0;   для выравнивания по центру */
		/* bottom: 0;   для выравнивания по центру */
		margin-left: -140px; /* смещение иконки влево от текста списка оно совпадает со значением отступа самого списка */
		padding:0;
		float: left;
		background: url(../img/icons/spritesheet_120.png) left center no-repeat;
		width: 125px;
		height: 139px;
	}


    &.icon120-announcement-7-icon {
        .stitches-icon120(-10px, -10px, 120px, 120px);
    }

    &.icon120-bank-icon {
        .stitches-icon120(-150px, -10px, 120px, 120px);
    }

    &.icon120-call-24-hours-icon {
        .stitches-icon120(-290px, -10px, 120px, 120px);
    }

    &.icon120-call-icon {
        .stitches-icon120(-430px, -10px, 120px, 120px);
    }

    &.icon120-camera-icon {
        .stitches-icon120(-10px, -150px, 120px, 120px);
    }

    &.icon120-car-icon {
        .stitches-icon120(-150px, -150px, 120px, 120px);
    }

    &.icon120-check-3-icon {
        .stitches-icon120(-290px, -150px, 120px, 120px);
    }

    &.icon120-check-icon {
        .stitches-icon120(-430px, -150px, 120px, 120px);
    }

    &.icon120-clock-icon {
        .stitches-icon120(-10px, -290px, 120px, 120px);
    }

    &.icon120-cup-coffee-icon {
        .stitches-icon120(-150px, -290px, 120px, 120px);
    }

    &.icon120-cup-icon {
        .stitches-icon120(-290px, -290px, 120px, 120px);
    }

    &.icon120-degree-icon {
        .stitches-icon120(-430px, -290px, 120px, 120px);
    }

    &.icon120-directions-icon {
        .stitches-icon120(-10px, -430px, 120px, 120px);
    }

    &.icon120-dollar-icon {
        .stitches-icon120(-150px, -430px, 120px, 120px);
    }

    &.icon120-favourite-3-icon {
        .stitches-icon120(-290px, -430px, 120px, 120px);
    }

    &.icon120-files-2-icon {
        .stitches-icon120(-430px, -430px, 120px, 120px);
    }

    &.icon120-gift-8-icon {
        .stitches-icon120(-570px, -10px, 120px, 120px);
    }

    &.icon120-lock-icon {
        .stitches-icon120(-570px, -150px, 120px, 120px);
    }

    &.icon120-message-2-icon {
        .stitches-icon120(-570px, -290px, 120px, 120px);
    }

    &.icon120-money-in-pig-icon-green {
        .stitches-icon120(-570px, -430px, 120px, 120px);
    }

    &.icon120-money-in-pig-icon-yellow {
        .stitches-icon120(-10px, -570px, 120px, 120px);
    }

    &.icon120-pen-icon {
        .stitches-icon120(-150px, -570px, 120px, 120px);
    }

    &.icon120-place-icon {
        .stitches-icon120(-290px, -570px, 120px, 120px);
    }

    &.icon120-shield-2-icon {
        .stitches-icon120(-430px, -570px, 120px, 120px);
    }
}


/*============    Цены    ===========*/
#price_table { // Секция с таблицой цен

}
/*============    Последовательность действий    ===========*/
#algorithm {
ul{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;

}
	li {
		min-height: 60px;
		padding-left: 0;
		//position: relative; 
		display: table;
	}
	.listalgorytm_tetx{
		display: table-cell;
		//position: absolute;
		vertical-align: middle;
		//margin-left: 80px;
		padding-left: 10px;
		//margin: auto;
		//top:0;
		//bottom: 0;
		//left: 80px;
		.RCnormal;
		font-size: 20px;

	}
}

/*============    Иконки спрайты 60px    ===========*/
.stitches-icon60(@x: 0, @y: 0, @width: 0, @height: 0) {
    &:before{
    background-position: @x @y;
    width: @width;
    height: @height;
}
}

.icon60 {
   
    display: table-cell; 
  //  position: relative;
   	//margin: auto;
	// top:0;
	// bottom: 0;
	// left: 0;
	// float: left;
	//margin-left: 0;
	//margin-right: 10px;
	&:before{
	    vertical-align: middle;
		content: "";
	//	position:absolute;
		display: block;
		// Блок для выравнивания по центру, но он не  работает, если высота абзаца меньше иконки
		/* margin: auto;  для выравнивания по центру  - убрать для выравнивания по верху*/
		/* top: 0;   для выравнивания по центру */
		/* bottom: 0;   для выравнивания по центру */
		//margin-left: -140px; /* смещение иконки влево от текста списка оно совпадает со значением отступа самого списка */
		padding:0;
		//float: left;
		background: url(../img/icons/spritesheet_60.png) center center no-repeat; 

	}


    &.icon60-call-icon {
        .stitches-icon60(-10px, -10px, 60px, 60px);
    }

    &.icon60-camera-icon {
        .stitches-icon60(-90px, -10px, 60px, 60px);
    }

    &.icon60-directions-icon {
        .stitches-icon60(-10px, -90px, 60px, 60px);
    }

    &.icon60-gift-8-icon {
        .stitches-icon60(-90px, -90px, 60px, 60px);
    }

    &.icon60-letterhead-icon {
        .stitches-icon60(-170px, -10px, 60px, 60px);
    }

    &.icon60-message-2-icon {
        .stitches-icon60(-170px, -90px, 60px, 60px);
    }
}


/*============    Список Банков   ===========*/
#list_of_banks { // Список банков
}
.bank_card {
	height: 150px;
	padding: 0;
	line-height: 150px; //интересный способ выравнивания картинки
	text-align: center; //интересный способ выравнивания картинки
	// img {
	// 	position:absolute;
	// 	margin:auto;
	// 	top:0;
	// 	bottom:0;
	// 	left:0;
	// 	right:0;
	// }
	// width: 200px; все забаненные параметры сбивали настройки разметки через параметры col-x-x
	// padding: 0;
}

/*============    Отзывы    ===========*/

blockquote {
	footer{
		color: @text-color;
		background-color: white;
	}
}
/*============    Карта    ===========*/

/*============    Футер контакты    ===========*/
#contacts {
	background-color: #6f6f6f;
	padding: 50px 0;

	.logo_footer {
		margin: 0;
		padding: 0;
		padding-top: 20px;
		padding-left: 20px;
	}
	.phone-numbers {
		h2, h5 { 
			margin: 0;
			text-align: left;
			padding: 0;
			padding-left: 20px;
			color: #d6d6d6;	
		}
		h2 {
			margin-top: 35px;
		}
		h5 {
			margin-top: 10px;
		}
		i {
			font-size: 30px;
		}

		a{
			font-size: 14px;
			margin: 0;
			padding: 0;
			margin-top: 10px;
			margin-left: 20px;
			color: #d6d6d6;	
			text-align: left;

		}

	}

	.mvdesign {
		//display: inline-block;
		margin: 0;
		margin-top: 35px;
		//padding: 0;
		//margin-left: 100px;
		//margin-right:0;
		//float: right;
		//vertical-align: top;		
		p { 
			color: #d6d6d6;	
		}
		a {
			color: #43D5FF;
			text-decoration: underline;
			&:hover {
				color:#43D5FF;
			}
		}

	}
}

/*============    СПРАЙТЫ    ===========*/
.icon_mv {
	width: 80px;
	height: 80px;
	float: left;
	display: block;
	margin-left: 15px;
	background: url(../img/mvdesign.png) no-repeat;
}
a.design {
	.icon_mv;
	background-position: 0 -80px;
	cursor: pointer; 
	border: none;
	text-decoration: none;
	
}
a.design:hover {
	.icon_mv;
	background-position: 0 0;
	cursor: pointer;
	border: none;
	text-decoration: none;
}    



/*============    Стиль кнопки НАВЕРХ    ===========*/
#top {
  position: fixed;
  bottom: 5px;
  right: 42px;
  cursor: pointer;
  display: none;
  font-size: 14px;
  color: white;
  //padding: 15px 50px 5px 50px;
  //margin-top: 25px;
  //margin-left: 5px;
  //margin-right: 5px;
  //margin-bottom: 5px; 
  //background-color: #256fa1;
  opacity: 0.5;
  //width: 0; height: 0;

  &:before {
  	content: "";
  	border: 50px solid;
  	border-top: none;
  	border-left-color: rgba(255,255,255, 0);
  	border-right-color: rgba(255,255,255, 0);
  	//border-left: none;
  	//border-right: none;
    border-bottom-color:  #256fa1; // #ffb500; // #b73d62;
    position: fixed;
    bottom: 0;
  	right: 0px;
  }
  &:hover {
  	  opacity: 1;
  }
}


/*============    	ВСПЛЫВАЮЩИЕ MODAL ОКНА    ===========*/
// класс для поля ввода имени


input[name="name"] {
margin-top: 10px;
background: url(../img/user_25.png) no-repeat center left 5px;
padding: 25px;
padding-left: 30px;
border-radius: 0;
border: 1px solid @text-color;
.RCnormal;
opacity: 0.3;
&:hover,
&:focus {
	opacity: 0.7;
}
}

input[name="phone"] {
margin-top: 10px;
background: url(../img/cell-phone_25.png) no-repeat center left 5px;
padding: 25px;
padding-left: 30px;
border-radius: 0;
border: 1px solid @text-color;
.RCnormal;
opacity: 0.3;
&:hover,
&:focus {
	opacity: 0.7;
}
}

input[name="email"] {
margin-top: 10px;
//background: url(../img/cell-phone_25.png) no-repeat center left 5px;
padding: 25px;
padding-left: 13px;
border-radius: 0;
border: 1px solid @text-color;
.RCnormal;
opacity: 0.3;
&:hover,
&:focus {
	opacity: 0.7;
}
}
textarea {
margin-top: 10px;
//background: url(../img/cell-phone_25.png) no-repeat center left 5px;
padding: 25px;
padding-left: 30px;
border-radius: 0;
border: 1px solid @text-color;
resize: vertical; //Блокируем возможность растягивать область по горизонтали
.RCnormal;
opacity: 0.3;

&:hover,
&:focus {
	opacity: 0.7;
}	
}

button[type="submit"] {
	margin: 25px 0;
	padding: 10px;
	width: 100%;
	.RCbold;
	font-size: 22px;
	border: none;
	outline-style: none;
	background-color: #cc436a; /* фон кнопки */
	text-transform: uppercase;
	color: white;
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	outline: none; /* убирать контур в Mozilla */
  	border-radius: 10px; // скругление углов
  	&:hover { /* при наведении курсора мышки */
  		background: #ef5000; 
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none; 	 	
  	} 
  	&:active {  /* при нажатии */
  		background: #cc436a;
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none;	  	
  	}
  	&:visited {  /* посещенная кнопка */
  		background: #cc436a;
  		color: white;
  		text-decoration: none; /* убирать подчёркивание у ссылок */
  		user-select: none; /* убирать выделение текста */
  		outline: none; /* убирать контур в Mozilla */
  		outline-style: none;
  	}
  	&:focus {
  		outline: none; //убираем рамку вокруг элемента кнопки после нажатия
  		// background: #cc436a;
  		color: white;  		
  	}
}

// Расположение модального окна формы заказа по вертикали
.modal-dialog {
	margin-top: 15%;

}
.modal-header {
	border-bottom: none;
}

.modal-body {
	h4 {
		.RCbold;
		text-transform: uppercase;
		margin: 10px auto;

		}	
}
#ask_now_modal {
	// Расположение модального окна формы заказа по вертикали
.modal-dialog {
	margin-top: 10%;
}
}

#service_list_modal {
	// Расположение модального окна формы заказа по вертикали
.modal-dialog {
	margin-top: 5%;
}
}

// Расположение модального окна МЕНЮ по вертикали
#menu_modal {
	.modal-dialog {
		margin-top: 0;
		margin-right: 0;
		min-height: 100%
	}
	.modal-content {
		position: absolute;
		width: 100%;
		min-height: 100%;
		border-radius: 0;
	}
	.modal-header {
		border-bottom: none;
	}

	.modal-body {
		h4 {
			.RCbold;
			text-transform: uppercase;
			margin: 10px auto;

		}	
		ul {
			text-decoration: none;
			list-style: none;
			text-align: left;
			margin: 0;
			padding: 0;


		}
		li {
			width: 100%

		}
		a {
			display: block;
			padding-left: 50px;
			padding-bottom: 10px;			
			padding-top: 10px;
			width: 100%;
			//border: none;
			
			.RCnormal;
			margin: 0;
			&:hover {
				background-color: #facd0a;
			}

		}

	}
}


/*============    	АДАПТИВ    ===========*/
@import "less/adaptivemedia.less";


